@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
  height: 326px;
  width: 100%;
  padding: 2em;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  z-index: 3;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

/* NAVIGATION */

.logo__img {
  height: 80px;
  width: 150px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 430px;
  font-weight: 600;
}

.nav__links a {
  letter-spacing: 0.14px;
  position: relative;
}

.nav__links a:after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.nav__links a:hover:after {
  width: 100%;
  left: 0;
}

.search__bar--wrapper {
  position: absolute;
  width: 100%;
  z-index: 3;
}

#search {
  position: relative;
  display: flex;
  flex-direction: column;
}

.search__title {
  color: #fff;
  text-align: center;
  font-size: 45px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}

.input__wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.input__wrapper input {
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  max-width: 800px;
  height: 60px;
  font-size: 20px;
  padding-left: 20px;
  border-radius: 50px;
  border: 1px solid #0a1f44;
}

.input__wrapper input:focus-visible {
  outline: none;
}

.search__icon--wrapper {
  position: absolute;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 8px;
  top: 0;
  bottom: 0;
  right: 0;
  color: #5EE0FA;
  z-index: 10;
  cursor: pointer;
}

.search__icon--wrapper svg {
  overflow: visible;
  width: 32px;
  height: 32px;
  display: inline-block;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(./assets/background_banner.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}

.overlay:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* SEARCH RESULTS */

.search__result {
  display: flex;
}

#search__keyword {
  color: rgba(96, 48, 177, 1);
  font-size: 1.5em;
  font-weight: 500;
  transform: translateX(0.5em);
}

#movieSort {
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(84, 190, 248);
  color: #fff;
}

#movieSort:hover {
  background-color: rgb(230, 71, 50);
  border-right: 10px solid rgb(230, 71, 50);
  cursor: pointer;
}

.loading__state {
  display: flex;
  width: 100%;
  justify-content: center;
}

.loading__state svg {
  font-size: 30px;
  color: rgb(96, 48, 177);
  width: 1em;
  height: 1em;
  overflow: visible;
  -webkit-animation: rotate 1000ms infinite linear;
  animation: rotate 1000ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.no__results {
  text-align: center;
}

.movie__card {
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  flex: 0 1 calc(33.3% - 5%);
  text-align: center;
  white-space: nowrap;
  max-width: 260px;
  margin: 1em;
  cursor: pointer;
}

.movie__card img {
  width: 100%;
  height: 100%;
  max-height: 300px;
}

/* LANDING PAGE */

.landing .nav__links a {
  color: #5EE0FA;
}

.landing .nav__links a:first-child {
  color: #0a1f44;
}

.landing .nav__links a:after {
  background-color: #5EE0FA;
}

.landing .nav__links a:first-child:after {
  background-color: #0a1f44;
}

.landing .search__title {
  color: #5EE0FA;
  max-width: 730px;
  font-weight: 700;
  margin: 30px auto;
}

.landing .search__sub-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: #0a1f44;
  margin-bottom: 30px;
}