@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

::selection {
  background-color: #ec428d;
  color: #fff;
}

body {
  background-color: #000;
}

header {
  position: relative;
  height: 326px;
  width: 100%;
  padding: 2em;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  z-index: 3;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

/* NAV */

.logo__img {
  height: 150px;
  width: 150px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  width: 100%;
  max-width: 230px;
  font-weight: 700;
  font-size: 20px;
}

.nav__links a {
  letter-spacing: 0.14px;
  position: relative;
}

.nav__links a:after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgb(255, 125, 3);
  position: absolute;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.nav__links a:hover:after {
  width: 100%;
  left: 0;
}

.nav__link {
  color: rgb(255, 125, 3);
}

/* SEARCH */

.search__bar--wrapper {
  position: absolute;
  width: 100%;
  z-index: 3;
}

#search {
  position: relative;
  display: flex;
  flex-direction: column;
}

.search__title {
  color: rgb(255, 125, 3);
  text-align: center;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}

.title__span {
  display: block;
}

.search__sub-title {
  font-size: 30px;
  text-align: center;
  color: rgb(221, 2, 2);
  font-weight: 400;
}

.sub__title--span {
  color: rgb(255, 221, 0);
  font-weight: 500;
}

.input__wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.input__wrapper input {
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  max-width: 800px;
  height: 60px;
  font-size: 20px;
  padding-left: 20px;
  border-radius: 50px;
  margin-top: 40px;
}

.input__wrapper input:focus-visible {
  outline: none;
}

.search__icon--wrapper {
  position: absolute;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 8px;
  top: 40px;
  bottom: 0;
  right: 0;
  color: rgb(255, 125, 3);
  z-index: 10;
  cursor: pointer;
}

.search__icon--wrapper svg {
  overflow: visible;
  width: 32px;
  height: 32px;
  display: inline-block;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(./assets/background_banner.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}

.overlay:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.search__result {
  display: flex;
}

#search__keyword {
  color: rgb(255, 221, 0);
  font-size: 1.5em;
  font-weight: 500;
  transform: translateX(0.5em);
  transform: translateY(0.3em);
  padding-left: 10px;
  padding-top: 40px;
}

.result__title {
  color: rgb(255, 125, 3);
  font-size: 28px;
  line-height: 1.5;
  margin-top: 40px;
}

select {
  background-color: rgb(255, 125, 3);
  border-radius: 15px;
  color: #fff;
  height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
  margin: 40px 0;
}

select:hover {
  background-color: rgb(192, 96, 6);
  cursor: pointer;
}

.loading__state {
  display: flex;
  width: 100%;
  justify-content: center;
}

.loading__state svg {
  font-size: 30px;
  color: rgb(255, 125, 3);
  width: 1em;
  height: 1em;
  overflow: visible;
}

.content__wrapper {
  position: relative;
  width: 100%;
  background-color: #000;
  padding: 40px 20px 40px 40px;
  display: flex;
  flex-wrap: wrap;
}

.content__wrapper--search {
  justify-content: space-between;
}

/* CARDS */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.no__results {
  text-align: center;
}

.movie__card {
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  flex: 0 1 calc(33.3% - 5%);
  text-align: center;
  white-space: nowrap;
  max-width: 260px;
  margin: 1em;
  cursor: pointer;
}

.movie__card--img {
  width: 100%;
  height: 100%;
  max-height: 300px;
}

/* MOVIE INFO */

.movies__wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 24px;
  width: 100%;
}

#movies__body {
  background-color: #000;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#movies__main {
  flex: 1;
  background-color: #000;
}

#movies__main a {
  color: rgb(255, 125, 3);
}

.movies__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
}

.movies__header--title {
  margin-bottom: 0;
}

.movies__loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-size: 60px;
  color: rgb(255, 125, 3);
}

.movies__container {
  padding: 24px 0;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -24px;
}

.spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MOVIE INFO PAGE */

.container__movie--selected {
  padding-top: 16px;
}

.movie__selected {
  display: flex;
}

.movie__selected--figure {
  width: 40%;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie__selected--img {
  max-height: 500px;
  width: auto;
  max-width: 100%;
}

.movie__selected--description {
  width: 60%;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movie__selected--top {
  padding: 0 24px;
  margin-bottom: 8px;
  font-size: 32px;
  color: #fff;
  display: flex;
  align-items: center;
}

.movie__selected--link {
  color: #fff;
}

.fa-arrow-left {
  font-size: 30px;
  color: #fff;
}

.movie__selected--title--top {
  margin-left: 10px;
  margin-bottom: 0;
  color: #fff;
}

.movie__summary {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.movie__selected--title {
  margin-bottom: 8px;
  color: #fff;
}

.movie__summary--title {
  margin-bottom: 8px;
  font-weight: 700;
  color: #fff;
}

.movie__summary--para {
  margin-bottom: 16px;
  color: #fff;
}

.movie__summary--details li {
  margin: 10px 0;
  color: #fff;
}

.movie__ratings {
  color: #fabf2a;
  margin-bottom: 8px;
}

.movie {
  padding: 24px;
  transition: all .3s ease;
  width: 25%;
}

.movie:hover {
  transform: scaleX(1.06) scaleY(1.06);
}

.movie__img {
  max-height: 320px;
  max-width: 250px;
  transition: all .3s ease;
}

.movie__title {
  font-size: 20px;
  margin-bottom: 8px;
  color: #fff;
}

.movie__title--link {
  color: #fff;
}

.movie__label {
  font-size: 16px;
  margin: 8px 0 8px 0;
}

/* RESPONSIVENESS */

@media (max-width: 768px) {
  .search__result {
    display: flex;
    flex-direction: column;
  }
  #search__keyword {
    transform: translateX(0);
    transform: translateY(-35px);
  }
  .movie__card {
    max-width: 245px;
  }
  .movie__card img {
    max-height: 249px;
  }
}

@media (max-width: 520px) {
  header {
    padding: 1em;
    height: 270px;
  }
  .logo__img {
    height: 36px;
    width: 36px;
  }
  .nav__links {
    justify-content: flex-end;
  }
  .nav__links a:nth-child(1) {
    display: none;
  }
  .search__result {
    display: flex;
    flex-direction: row;
  }
  .search__title {
    font-size: 36px;
    margin: 20px 0;
  }
  #search__keyword {
    transform: translateX(0.5em);
  }
  .input__wrapper {
    max-width: 380px;
  }
  .input__wrapper input {
    height: 50px;
    font-size: 18px;
  }
  .search__icon--wrapper svg {
    width: 24px;
    height: 24px;
  }
}

/* LOADING STATE */

.movie__img--skeleton {
  width: 100%;
  max-width: 250px;
  height: 320px;
  background-color: rgb(88, 87, 87);
  margin-bottom: 8px;
}

.skeleton {
  background-color: rgb(88, 87, 87) !important;
  margin-bottom: 8px;
}

.movie__title--skeleton {
  height: 21px;
  width: 100%;
  max-width: 250px;
}

.movie__rating--skeleton {
  width: 100px;
  height: 19px;
}

.movie__price--skeleton {
  width: 200px;
  height: 19px;
}

/* LANDING PAGE */