@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  height: 80px;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  position: relative;
}

img {
  height: 100%;
  width: 100%;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #fa8405;
}

a:hover {
  text-decoration: underline;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding: 8px;
  color: #fff;
}

.nav__container {
  width: 100%;
  max-width: 1800px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: #000;
}

.nav__link {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
}

.logo {
  width: 110px;
}

/* LANDING */

#landing {
  background-image:
    linear-gradient(#0000007e, #0000007e), url(./assets/background_banner.jpg);
}

header {
  height: calc(100vh - 80px);
}

.header__container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 56px;
  color: rgb(255, 4, 4);
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  font-size: 26px;
  margin-bottom: 32px;
  text-align: center;
  color: #fa8405;
}

.yellow {
  font-size: 38px;
  color: rgb(255, 204, 0);
}

/* SEARCHBAR */

#search__bar {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #000;
  height: calc(100vh - 80px);
}

.search__bar--wrapper {
  position: absolute;
  width: 100%;
  z-index: 3;
}

.input__wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  border-radius: 50px;
  margin: 0 auto;
}

.input__text {
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  max-width: 800px;
  height: 60px;
  font-size: 20px;
  padding-left: 20px;
}

.search__icon--wrapper {
  position: absolute;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 8px;
  top: 0;
  bottom: 0;
  right: 0;
  color: #fa8405;
  z-index: 10;
  cursor: pointer;
}

.search__icon {
  overflow: visible;
  width: 32px;
  height: 32px;
  display: inline-block;
}

/* SEARCH RESULTS */

.movies__container {
  padding: 56px 0;
}

.movies__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.search__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.search__result--title {
  margin-bottom: 0;
}

select {
  background-color: #fa8405;
  border-radius: 15px;
  color: #fff;
  height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
  margin: 32px 0;
}

/* MOVIE CARDS */

#movies {
  padding: 24px 0;
}

p {
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.movies__list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.movie__img--wrapper {
  height: 300px;
  width: 100%;
  padding: 0;
  overflow: hidden;
  background-repeat: 10px 10px 0 0;
}

.movie__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie__card {
  background-color: gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.movie__card--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.movie__card--container p {
  font-size: 18px;
  padding: 2px 10px 4px;
}
