@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

::selection {
  background-color: #ec428d;
  color: #fff;
}

body {
  background-color: #000;
}

header {
  position: relative;
  height: 326px;
  width: 100%;
  padding: 2em;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  z-index: 3;
  background-color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

/* NAV */

.logo__img {
  height: 150px;
  width: 150px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  width: 100%;
  max-width: 230px;
  font-weight: 700;
  font-size: 20px;
}

.nav__links a {
  letter-spacing: 0.14px;
  position: relative;
}

.nav__links a:after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgb(255, 125, 3);
  position: absolute;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.nav__links a:hover:after {
  width: 100%;
  left: 0;
}

.nav__link {
  color: rgb(255, 125, 3);
}

.search__bar--wrapper {
  position: absolute;
  width: 100%;
  z-index: 3;
}

#search {
  position: relative;
  display: flex;
  flex-direction: column;
}

.search__title {
  color: rgb(255, 125, 3);
  text-align: center;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}

.title__span {
  display: block;
}

.search__sub-title {
  font-size: 30px;
  text-align: center;
  color: rgb(221, 2, 2);
  font-weight: 400;
}

.sub__title--span {
  color: rgb(255, 221, 0);
  font-weight: 500;
}

.input__wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.input__wrapper input {
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  max-width: 800px;
  height: 60px;
  font-size: 20px;
  padding-left: 20px;
  border-radius: 50px;
  margin-top: 40px;
}

.landing .search__button--link {
  background-color: rgb(255, 125, 3);
  cursor: pointer;
  width: 200px;
  font-size: 40px;
  margin-left: 20px;
  color: #fff;
  border-radius: 20px;
  transition: all 0.25s ease;
  text-align: center;
  padding: 6px 1px;
}

